@layer tokens {
	:root {
		--bg: oklch(99% 0.02 290);
		--bg-alt: oklch(96% 0.01 290);
		--border: oklch(91% 0.01 290);

		--fg: oklch(1% 0.02 290);
		--fg-muted: oklch(25% 0.02 290);
		--fg-subtle: oklch(35% 0.02 290);
		--fg-faint: oklch(50% 0.03 290);

		--accent: oklch(46% 0.015 300);
		--accent-fg: var(--bg);

		--success: oklch(0.95 0.05 150);
		--success-fg: oklch(0.35 0.15 150);
		--error: oklch(0.95 0.05 20);
		--error-fg: oklch(0.45 0.15 20);
		--warning: oklch(0.95 0.08 85);
		--warning-fg: oklch(0.45 0.15 85);

		--font: "neue-haas-grotesk-text", "Inter", Helvetica, sans-serif;
		--font-mono: ui-monospace, "SF Mono", Menlo, monospace;
		--font-semibold: 600;

		--text-xs: 0.75rem;
		--text-xs-lh: 1rem;
		--text-sm: 0.875rem;
		--text-sm-lh: 1.25rem;
		--text-base: 1rem;
		--text-base-lh: 1.5rem;
		--text-lg: 1.125rem;
		--text-lg-lh: 1.75rem;
		--text-xl: 1.25rem;
		--text-xl-lh: 1.75rem;
		--text-2xl: 1.5rem;
		--text-2xl-lh: 2rem;
		--text-3xl: 1.875rem;
		--text-3xl-lh: 2.25rem;
		--text-4xl: 2.25rem;
		--text-4xl-lh: 2.5rem;

		--leading-normal: 1.5;

		--space-xs: 0.25rem;
		--space-sm: 0.35rem;
		--space-md: 0.75rem;
		--space-lg: 1.5rem;
		--space-xl: 2.5rem;

		--radius: 0.25rem;
		--radius-lg: 0.5rem;

		--shadow: 0 1px 3px rgb(0 0 0 / 0.1);
		--shadow-lg: 0 10px 25px rgb(0 0 0 / 0.15);

		--transition: 150ms ease;

		--hover-filter: brightness(0.8);
	}

	@media (prefers-color-scheme: dark) {
		:root {
			--bg: oklch(21% 0.015 280);
			--bg-alt: oklch(27% 0.02 290);
			--border: oklch(32% 0.02 290);

			--fg: oklch(100% 0 0);
			--fg-muted: oklch(85% 0.02 290);
			--fg-subtle: oklch(75% 0.02 290);
			--fg-faint: oklch(60% 0.03 290);

			--accent: oklch(70% 0.035 280);

			--success: oklch(0.35 0.05 150);
			--success-fg: oklch(0.85 0.1 150);
			--error: oklch(0.35 0.05 20);
			--error-fg: oklch(0.85 0.1 20);
			--warning: oklch(0.35 0.08 85);
			--warning-fg: oklch(0.85 0.12 85);

			--shadow: 0 1px 3px rgb(0 0 0 / 0.3);
			--shadow-lg: 0 10px 25px rgb(0 0 0 / 0.4);

			--hover-filter: brightness(1.2);
		}
	}
}
